.divTitre {
  align: "center";
  color: #001a70 !important;
  font-weight: bold;
}

#parent {
  display: table;
  height: 500px;
}

#child {
  display: table-cell;
  vertical-align: middle;
}

.myChartDiv {
  width: 100%;
  /*height: 600px;*/
}


input[type=text] {
  width: 85px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.divMidle {
  padding: 25px 20px;
  text-align: center;
}

.divRight {
  /*padding: 25px 20px;*/
  text-align: right;
}

.divLeft {
  /*padding: 25px 20px;*/
  text-align: left;
}
